[project]
	description = Audio Streaming Service
[submit]
[access "refs/for/*"]
	pushMerge = group cf-streaming-committers
[access "refs/for/refs/heads/*"]
	push = group cf-streaming-committers
[access "refs/heads/*"]
	abandon = group cf-streaming-committers
	create = group cf-streaming-committers
	forgeAuthor = group cf-streaming-committers
	label-Code-Review = -2..+2 group cf-streaming-committers
	submit = group cf-streaming-committers
	editTopicName = group cf-streaming-committers
[access "refs/tags/*"]
	pushTag = group cf-streaming-committers
	pushSignedTag = group cf-streaming-committers
[access "refs/for/refs/heads/feature/*"]
	pushMerge = group Non-Interactive Users
	pushMerge = group cf-streaming-committers
[access "refs/meta/config"]
	read = group cf-streaming-committers
[access "refs/*"]
	read = group GitHub Replication
