[project]
	description = Audio Streaming Service
[submit]
[access "refs/for/*"]
	pushMerge = group ldap/gerrit_core_committers
[access "refs/heads/*"]
	abandon = group ldap/gerrit_core_committers
	create = group ldap/gerrit_core_committers
	forgeAuthor = group ldap/gerrit_core_committers
	push = group ldap/gerrit_core_committers
